@import "scss/breakpoints.scss";
@import "scss/sizes.scss";

.mainTemplate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  transition: all 300ms;

  > header {
    width: 100%;
    background: var(--mantine-color-gradient-0);
    height: $headerH;
  }

  > .contentWrapper {
    flex: 1;
    gap: 0;

    > main {
      flex: 1;
      margin: 0;
      // background-color: $secondaryFront;
      z-index: 1;
      height: 100%;
    }

    > section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 0;
      height: 100%;
      width: 300px;
      background: var(--mantine-color-gradient-1);

      @include mediaQuery(mobile) {
        display: none;
      }

      @include mediaQuery(tabletSmall) {
        display: none;
      }
    }
  }
}
