@import "scss/variables";
@import "scss/breakpoints";

.mainTemplate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  transition: all 300ms;

  > header {
    width: 100%;
  }

  > .contentWrapper {
    flex: 1;
    gap: 0;

    > main {
      flex: 1;
      margin: 0;
      // background-color: $secondaryFront;
      z-index: 1;
      height: 100%;
    }

    > section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 0;
    }
  }
}
