@import "scss/sizes";

// @TODO move to em's if we need different sizes for atom
.inputWrapper {
  .txtInput {
    position: relative;
    border-radius: var(--mantine-radius-sm);
    overflow: hidden;

    label {
      color: var(--mantine-color-frontSecondary-2);
      font-size: 16px;
      z-index: 2;
      pointer-events: none;
      transform: translateY(40px);
      line-height: 0px;
      padding-left: var(--mantine-spacing-sm);
      position: absolute;
      top: -10px;
      transition: all 150ms;
      text-transform: capitalize;
    }

    input {
      height: $inputH;
      font-size: 16px;
      background-color: var(--mantine-color-inputBackPrimary-0);
      border: none;
      color: var(--mantine-color-frontSecondary-2);
      z-index: 1;
      padding-top: var(--mantine-spacing-md);
      border-bottom: 1px solid var(--mantine-color-frontSecondary-2);

      &:focus,
      &:hover {
        background-color: var(--mantine-color-inputBackPrimaryActive-0);
      }

      &[data-invalid="true"] {
        border: 1px solid var(--mantine-color-invalid-0);
      }
    }
  }

  &[data-active="true"] {
    label {
      font-size: 12px;
      transform: translateY(26px);
      color: var(--mantine-color-frontPrimary-0);
    }

    .txtInput {
      input {
        color: inherit;
      }
    }
  }

  &[data-invalid="true"] {
    label {
      color: var(--mantine-color-invalid-0);
    }
  }

  &[data-active="false"] {
    .txtInput {
      input {
        color: transparent;
      }
    }
  }

  &[data-invalid="false"] {
    .txtInput {
      &::after {
        z-index: 2;
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0%;
        height: 1px;
        transition: all 300ms;
        margin: auto;
        background-color: var(--mantine-color-frontSecondary-0);
      }
    }

    &[data-active="true"] {
      .txtInput {
        &::after {
          width: 100%;
          background-color: var(--mantine-color-frontPrimary-0);
        }
      }
    }
  }
}
