@import "scss/mixins";
@import "scss/breakpoints";

.issueWrapper {
  gap: 0;

  h1,
  svg {
    color: var(--mantine-color-frontPrimary-0);
  }

  svg {
    width: 15rem;
    height: 15rem;
    margin-bottom: var(--mantine-spacing-xl);

    @include animate(rotate-360, 1s, 0s);
  }

  > a {
    margin-top: var(--mantine-spacing-lg);
  }

  > div {
    flex: 1;
    overflow: auto;

    .message {
      b {
        color: var(--mantine-color-frontPrimary-0);
        font-weight: bold;
      }
    }
  }
}
