.lilBox {
    background-color: var(--mantine-color-backPrimary-3);
    border-radius: var(--mantine-radius-lg);
    width: 300px;
    height: auto;
    padding: var(--mantine-spacing-md);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px;
}
