.cl-internal-b3fm6y,
.cl-internal-q6wheb,
.cl-internal-iu9znb,
.cl-internal-hegiim,
.cl-internal-wkkub3 {
  display: none;
}

.cl-userButtonPopoverFooter.cl-internal-y2rcgc {
  &::after {
    content: "Secured by Mindtrace.";
    display: block;
    font-size: small;
  }
}

.cl-organizationSwitcherTrigger .cl-userPreviewSecondaryIdentifier {
  max-width: 235px;
}
