@import "mixins";
@import "breakpoints";

.mantine-Skeleton-root {
  &::before {
    background-color: var(--mantine-color-inputBackPrimary-1);
  }

  &::after {
    background-color: var(--mantine-color-inputBackPrimaryActive-0);
  }
}

.mantine-Modal-header,
.mantine-Modal-body {
  background-color: var(--mantine-color-backPrimary-3);
  color: var(--mantine-color-frontSecondary-0);
}

.mantine-Modal-content {
  border-radius: var(--mantine-radius-lg);
  box-shadow: rgb(0 0 0 / 0.16) 0 24px 48px;
}
